#main-navbar {
    margin-top: 20px;
}

#navbar-logo {
    width: 80px;
}

.panel-satellite {
    margin-top: 20px;
}

.satellite-title {
    font-weight: bold;
}

.panel-transponder {
    margin-top: 20px;
}

.add-transponder {
    margin-top: -6px;
}

.suggest-transponder {
    margin-top: -6px;
}

.panel-transponder > .panel-heading {
    background-color: #B3E5FF;
}

.label-transponder-suggestions {
    margin-right: 10px;
    color: white;
}

.transponder-element {
    margin-bottom: 10px;
}

.transponder-element-suggest {
    margin-bottom: 10px;
}

.plus-tip {
    display: none;
}

.stats {
    margin-top: 30px;
    margin-bottom: 50px;
}
.stats div {
    text-align: center;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.77) !important;
}

.info {
    margin-top: 50px;
    margin-bottom: 50px;
}

.satellite-panels {
    display: none;
}