{% extends "account/base.html" %}

{% load account %}
{% load crispy_forms_tags %}

{% block head_title %} - Password Reset{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2>Password Reset</h2>
        {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it."</p>

        <form method="POST" action="./" class="password_reset">{% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-default" type="submit">Reset My Password</button>
        </form>
        <p>Please contact us if you have any trouble resetting your password.</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script>
    $("#id_email").focus();
  </script>
{% endblock javascript %}
