/* Fonts
==================== */

@font-face {
    font-family: 'ClearSans';
    src: url('../fonts/ClearSans-Regular.eot');
    src: url('../fonts/ClearSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Regular.woff') format('woff'),
         url('../fonts/ClearSans-Regular.ttf') format('truetype'),
         url('../fonts/ClearSans-Regular.svg#open_sans') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ClearSans';
    src: url('../fonts/ClearSans-Bold.eot');
    src: url('../fonts/ClearSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Bold.woff') format('woff'),
         url('../fonts/ClearSans-Bold.ttf') format('truetype'),
         url('../fonts/ClearSans-Bold.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'ClearSans';
    src: url('../fonts/ClearSans-BoldItalic.eot');
    src: url('../fonts/ClearSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-BoldItalic.woff') format('woff'),
         url('../fonts/ClearSans-BoldItalic.ttf') format('truetype'),
         url('../fonts/ClearSans-BoldItalic.svg#open_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'ClearSans';
    src: url('../fonts/ClearSans-Italic.eot');
    src: url('../fonts/ClearSans-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Italic.woff') format('woff'),
         url('../fonts/ClearSans-Italic.ttf') format('truetype'),
         url('../fonts/ClearSans-Italic.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}


/* Generic
==================== */

body {
    font-size:14px;
    line-height: 1.3;
    font-family:'ClearSans';
}

.alert-debug {
    color: black;
    background-color: white;
    border-color: #d6e9c6;
}

.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-warning {
    color: black;
    background-color: orange;
    border-color: #d6e9c6;
}

.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.error {
    margin-top: 40px;
    width: 500px;
    margin: auto;
    text-align: center;
}

.label-default {
    background-color: #999;
}

.img-avatar {
    border: 2px solid white;
    border-radius: 50px;
    float: left;
    margin: 0 auto;
    margin-top: -7px;
    margin-right: 5px;
}

#main-navbar {
    margin-top: 2%;
}

#navbar-logo {
    width: 80px;
}

.stats {
    text-align: center;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.77) !important;
    margin-top: 12px;
}

.stats > img {
    max-width: 20px;
}

.panel-satellite {
    margin-top: 20px;
}

.panel-satellite > div {
    margin-bottom: 10px;
}

.satellite-info {
    min-height: 100px;
}

.satellite-group-item {
    margin-top: 20px;
}

a.satellite-item {
    min-height: 120px;
    padding: 10px;
    border: 1px solid #FFF;
    cursor: pointer;
    display: block;
    background-image: linear-gradient(to bottom, #FFF 0px, #F4F4F4 100%);
    color: black;
    text-decoration: none;
    border: medium none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

a.satellite-item:hover {
    box-shadow: 0px 2px 5px #808080;
    transition: all 0.3s ease-out 0s;
}

.satellite-title {
    font-weight: bold;
    font-size: 1.2em;
}

.satellite-img {
    max-width: 70px;
    max-height: 70px;
    border-radius: 10px;
    padding: 5px;
}

.satellite-img-full {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
}

.satellite-transmitters {
    position: absolute;
    bottom: 0px;
}

.satellite-transmitters > span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
}

.panel-transmitter {
    margin: 20px 0px;
}

.panel-first {
    margin-top: 20px;
}

.suggest-transmitter {
    margin-top: -6px;
}

.suggestions-counter {
    display: inline-block;
    font-size: 0.9em;
}

.label-transmitter-suggestions {
    margin-right: 10px;
    color: white;
}

.transmitter-element {
    margin: 10px;
}

.transmitter-element-suggest {
    margin-bottom: 10px;
}

.info {
    margin-top: 30px;
    margin-bottom: 30px;
}

.text {
    max-width: 900px;
}

.faq > li {
    margin-top: 20px;
}

footer {
    margin-bottom: 10px;
}

.stage-notice {
    background-color: #D74545;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 0.9em;
    z-index: 20;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

.stage-notice a {
    color: #ffff00;
}


/* Statistics page
==================== */
.stats {
    padding-top: 20px;
    padding-bottom: 20px;
}

.stats-hud {
  padding: 15px;
}

.stats-hud-num {
    display: block;
    font-size:  2em;
    font-weight: bold;
}


/* Telemetry D3 visualisation
============================= */

.chart text {
    color: #333;
    font-size: 12px;
}

svg.chart {
    margin: 10px 50px;
}

#telemetry-descriptors {
    padding: 0;
}

.telemetry-key {
    cursor: pointer;
}

.circle {
    fill: #286090;
    cursor: pointer;
}

.chart-tooltip {
    position: absolute;
    background: #286090;
    color: #fff;
    font-family: 'ClearSans';
    font-size: 12px;
    text-align: center;
    padding: 5px 5px 6px 5px;
    border: 0px;
    border-radius: 3px;
}

.tick line, .domain {
  fill: none;
  stroke: #ddd;
}

.line {
    fill: none;
    stroke: #286090;
    stroke-width: 2;
}

/* Telemetry Datepicker */

.datepicker {
    border-radius: 3px;    
    padding-bottom: 25px;
}

.datepicker input {
    font-family: 'ClearSans';
    font-size: 13px;
    padding: 5px 10px;
    border: none;
    box-shadow: inset 0px 0px 8px rgba(0,0,0,0.3);  
    border-bottom-right-radius: 3px;    
    border-top-right-radius: 3px;    
    cursor: pointer;
}

.datepicker .input-group-addon {
    background: #777;
    color: #fff;
    border: none;
}

.daterangepicker {
    font-size: 13px;
}