/* Fonts
==================== */

@font-face {
    font-family: 'ClearSans';
    src: url('../fonts/ClearSans-Regular.eot');
    src: url('../fonts/ClearSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Regular.woff') format('woff'),
         url('../fonts/ClearSans-Regular.ttf') format('truetype'),
         url('../fonts/ClearSans-Regular.svg#open_sans') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ClearSans';
    src: url('../fonts/ClearSans-Bold.eot');
    src: url('../fonts/ClearSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Bold.woff') format('woff'),
         url('../fonts/ClearSans-Bold.ttf') format('truetype'),
         url('../fonts/ClearSans-Bold.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'ClearSans';
    src: url('../fonts/ClearSans-BoldItalic.eot');
    src: url('../fonts/ClearSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-BoldItalic.woff') format('woff'),
         url('../fonts/ClearSans-BoldItalic.ttf') format('truetype'),
         url('../fonts/ClearSans-BoldItalic.svg#open_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'ClearSans';
    src: url('../fonts/ClearSans-Italic.eot');
    src: url('../fonts/ClearSans-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClearSans-Italic.woff') format('woff'),
         url('../fonts/ClearSans-Italic.ttf') format('truetype'),
         url('../fonts/ClearSans-Italic.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}


/* Generic
==================== */

body {
    font-size:14px;
    line-height: 1.3;
    font-family:'ClearSans';
}

.alert-debug {
    color: black;
    background-color: white;
    border-color: #d6e9c6;
}

.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-warning {
    color: black;
    background-color: orange;
    border-color: #d6e9c6;
}

.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.img-avatar {
    border: 2px solid white;
    border-radius: 50px;
    float: left;
    margin: 0 auto;
    margin-top: -7px;
    margin-right: 5px;
}

#main-navbar {
    margin-top: 2%;
}

#navbar-logo {
    width: 80px;
}

.stats {
    margin-top: 30px;
    margin-bottom: 50px;
}

.stats div {
    text-align: center;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.77) !important;
}

.panel-satellite {
    margin-top: 20px;
}

.satellite-title {
    font-weight: bold;
}

.panel-transponder {
    margin-bottom: 20px;
}

.panel-first {
    margin-top: 20px;
}

.add-transponder {
    margin-top: -6px;
}

.suggest-transponder {
    margin-top: -6px;
}

.suggestions-counter {
    margin-right: 10px;
}

.panel-transponder > .panel-heading {
    background-color: #B3E5FF;
    background-image: none;
}

.label-transponder-suggestions {
    margin-right: 10px;
    color: white;
}

.transponder-element {
    margin-bottom: 10px;
}

.transponder-element-suggest {
    margin-bottom: 10px;
}

.info {
    margin-top: 30px;
    margin-bottom: 30px;
}

.text {
    max-width: 900px;
}

.faq > li {
    margin-top: 20px;
}

footer {
    margin-bottom: 10px;
}

.stage-notice {
    background-color: #D74545;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 0.9em;
    z-index: 20;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

.stage-notice a {
    color: #ffff00;
}
