<div class="stats container">
  <div class="col-md-4">
    <h1 ng-bind="countSatellites(items)">...</h1>
    <h3>Satellites</h3>
  </div>
  <div class="col-md-4">
    <h1 ng-bind="countTransponders(items)">...</h1>
    <h3>Transponders</h3>
  </div>
  <div class="col-md-4">
    <h1>...</h1>
    <h3>Contributors</h3>
  </div>
</div>

<div class="container" id="search">

  <!-- Search Bar -->
  <div class="col-md-12">
    <input type="text"
           class="form-control input-lg satellite-search"
           placeholder="Search for satellite (NORAD Cat ID or Name)"
           ng-model="search">
  </div>

  <!-- Satellite Panels -->
  <div class="col-md-12 satellite-panels" ng-repeat="satellite in items | filter:search">
    <div class="panel panel-default panel-satellite">
      <div class="panel-heading" ng-controller="ModalEdit">
        <h3 class="panel-title">
          <span class="satellite-title">{{ satellite.norad_cat_id }} {{ satellite.name }}</span>
          <button type="button"
                  class="btn btn-default btn-sm pull-right add-transponder"
                  ng-click="open()">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="plus-tip">Suggest new transponder</span>
          </button>
        </h3>
      </div>
      <div class="panel-body">

        <!-- Transponders -->
        <div class="col-md-12" ng-repeat="transponder in satellite.transponders">
          <div class="panel panel-default panel-transponder">
            <div class="panel-heading">
              <h3 class="panel-title">
                <span class="transponder-title">{{ transponder.description }}</span>
                <button type="button"
                        class="btn btn-default btn-sm pull-right suggest-transponder"
                        data-toggle="modal"
                        data-target="#editModal">
                  <span class="glyphicon glyphicon-edit"></span>
                  <span class="plus-tip">Suggest edits</span>
                </button>
              </h3>
            </div>
            <div class="panel-body">
              <div class="container transponder-element"
                   ng-repeat="(key, value) in transponder">
                <div class="col-md-3"
                     ng-if="key != 'description'">
                  <span class="label label-default">{{ key }}</span>
                  <span class="pull-right">{{ freqNum(value) }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="info container">
  <div class="col-md-4">
    <h3>Open</h3>
    <p>SatNOGS DB is and will always be an open database. We aspire to crete a hollistic, unified, global transponder database for all satellite transponders. You can export the data or even connect your application using our API.</p>
  </div>
  <div class="col-md-4">
    <h3>Crowd-sourced</h3>
    <p>We rely on user submitted crowd-sourced information. Create an account and start suggesting additions and/or modifications on our Database. We need your help!</p>
  </div>
  <div class="col-md-4">
    <h3>Extensible</h3>
    <p>We designed SatNOGS-DB to be easily extensible to accommodate additions and modification on transponder model. Go ahead and suggest chaneges or even code them in <a href="https://github.com/satnogs/satnogs-db">our repo</a>.</p>
  </div>
</div>
