{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="stats row hidden-xs hidden-sm">
      <div class="{% if suggestions %}col-md-3{% else %}col-md-4{% endif %}">
        <h1>{{ satellites.count }}</h1>
        <h3>Satellites</h3>
      </div>
      <div class="{% if suggestions %}col-md-3{% else %}col-md-4{% endif %}">
        <h1>{{ transmitters }}</h1>
        <h3>Transmitters</h3>
      </div>
      {% if suggestions %}
        <div class="col-md-3">
          <h1>{{ suggestions }}</h1>
          <h3>Suggestions</h3>
        </div>
      {% endif %}
      <div class="{% if suggestions %}col-md-3{% else %}col-md-4{% endif %}">
        <h1>{{ contributors }}</h1>
        <h3>Contributors</h3>
      </div>
    </div>

  {% block search %}
    <div class="row" id="search">
      <div class="col-md-12">
        <form method="post" action="{% url 'home' %}" id="search-form">{% csrf_token %}
          <div class="input-group">
          <input type="text" list="satellites-list"
                 class="form-control input-lg satellite-search"
                 placeholder="Select Satellite (Type NORAD Cat ID or Name)"
                 {% if not satellite %}autofocus{% endif %}>
          <input type="hidden" name="term" name="term" id="search-term">
          <div class="input-group-addon">
            <a href="#" id="search-button">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </a>
          </div>
          </div>
          <datalist id="satellites-list">
            {% for sat in satellites %}
              <option value="{{ sat }}">
            {% endfor %}
          </datalist>
        </form>
      </div>
    </div>
  {% endblock %}

  <div class="info row">
    <div class="col-md-4">
      <h3>Open</h3>
      <p>
        SatNOGS DB is, and will always be, an open database. We aspire to create an hollistic,
        unified, global transmitter database for all satellite transmitters. You can export the
        data or even connect your application using our API.
      </p>
    </div>
    <div class="col-md-4">
      <h3>Crowd-sourced</h3>
      <p>
        We rely on user submitted crowd-sourced information. Create an account and start
        suggesting additions and/or modifications on our Database. We need your help!
      </p>
    </div>
    <div class="col-md-4">
      <h3>Extensible</h3>
      <p>
        We designed SatNOGS-DB to be easily extensible to accommodate additions and modification
        on transmitter model. Go ahead and suggest changes or even code them in
        <a href="https://github.com/satnogs/satnogs-db">our repo</a>.
      </p>
    </div>
  </div>
{% endblock %}
